{% extends 'dashboard/base.html.twig' %}

{% block content %}
    <div class="max-w-lg mx-auto bg-white p-8 rounded shadow">
        <h1 class="text-xl font-bold mb-6 text-gray-800">Edit Accommodation</h1>
        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
            {{ form_row(form.name, {'attr': {'class': 'form-input'}}) }}
            {{ form_row(form.address, {'attr': {'class': 'form-input'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'form-input'}}) }}
            {{ form_row(form.capacity, {'attr': {'class': 'form-input'}}) }}
            <button class="btn btn-primary w-full">Update</button>
        {{ form_end(form) }}
        <a href="{{ path('local_accommodation_accommodations') }}" class="btn btn-secondary mt-4 w-full">Back to list</a>
    </div>
{% endblock %}
