{% extends 'dashboard/base.html.twig' %}

{% block content %}
    <div class="max-w-lg mx-auto bg-white dark:bg-gray-900 p-8 rounded shadow">
        <h1 class="text-xl font-bold mb-6 text-gray-800 dark:text-gray-100">
            {{ 'local_accommodation.consumables.view_title'|trans }}
        </h1>
        <ul class="mb-6">
            <li>
                <strong>
                    {{ 'local_accommodation.consumables.item'|trans }}
                    :
                </strong>
                {{ consumable.item }}
            </li>
            <li>
                <strong>
                    {{ 'local_accommodation.consumables.quantity'|trans }}
                    :
                </strong>
                {{ consumable.quantity }}
            </li>
        </ul>
        <a href="{{ path('local_accommodation_consumables') }}" class="btn btn-secondary w-full">
            {{ 'local_accommodation.consumables.back'|trans }}
        </a>
    </div>
{% endblock %}
